:root{
    --color_blue: #2196F3;
    --color-white: #FFFFFF;
    --color-black: #212121;
    --color_grey: #757575;
    --background_dark: #2F303A;
    --background_white: #F5F4FA;
    --color_rgba: rgba(255, 255, 255, 0.6)
}
body{
    color: var(--color_grey);
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}
img{
    display: block;
    min-width: 100%;
    height: auto;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
address{
    font-style: normal;
    margin-left: auto;
}
.header .container{
    display: flex;
    align-items: center;
}
.header .nav{
    display: flex;
}
.header nav{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
h1{
    margin: 0;
text-align: center;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
}
h2, h3{
    color: var(--color-black);
    margin: 0;
    
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.nav a{
    color: var(--color-black);
    display: inline-block;
    padding: 32px 0;
}
.nav li:not(:last-child){
    margin-right: 50px;
}

.nav a:hover,
.nav a:focus{
    color: var(--color_blue)
}
address a{
    display: flex;
    align-items: center;
    color: var(--color_grey);

}
.address__list a:hover,
.address__list a:focus{
    color: var(--color_blue)
}
.address__item:first-child{
    margin-right: 50px;
}
/* .address__item{
    display: flex;
    align-items: center;
} */
.address__item svg{
    margin-right: 8px;
    fill: currentColor;
}
/* .address__item svg:hover{
    fill: currentColor;
} */

.nav,
.address__list{
display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.14;

}

.address{
    color: var(--color_rgba)
}
.logo{
color: var(--color-black);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
header .logo{
margin-right: 93px;
}
footer .logo{
    color: var(--color-white)
}
.logo span{
    color: var(--color_blue)
}
.hero{
    display: flex;
    align-items:center;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    background-color: var(--background_dark);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero h1{
    color: var(--color-white);
    margin-bottom: 30px;
    
}
.hero button{
    background-color: var(--color_blue);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 32px;
    border-radius: 4px;
}
.comands{
    background-color: var(--background_white);
}
.comands h3{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}
.comands p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
footer{
    background-color: var(--background_dark)
}
.city{
    color: var(--color-white);
}
.skills h3{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
margin-bottom: 10px;
}
.skills p,
footer li{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.skills ul{
    display: flex;
}
.skills li{
    width: calc((100% - 90px)/4);
}
.skills li::before{
    display: block;
    content:"";
    height: 120px;
    background: #F5F4FA;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;

}
.skills li:nth-child(1)::before{
    background-image: url(./img/Group.svg)
}
.skills li:nth-child(2)::before{
    background-image: url(./img/clock.svg)
}
.skills li:nth-child(3)::before{
    background-image: url(./img/diagram.svg)
}
.skills li:nth-child(4)::before{
    background-image: url(./img/astronaut.svg)
}
.skills li:not(:last-child){
    margin-right: 30px;
}
.skills p{
    margin: 0;
}
.skills{
    padding: 94px 0;
}
.nav .link{
    color: var(--color_blue)
}
                                              /* WORK */
.work ul{
    display: flex;
}
.work li:not(:last-child){
    margin-right: 30px;
}
.work h2{
    text-align: center;
    margin-bottom: 50px;
}
.work{
    padding-bottom: 94px;
}
                                                   /* COMANDS */
.comands{
    padding: 94px 0;
}
.comands ul{
    display: flex;
}
.name{
    width: calc((100% - 90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
overflow: hidden;
}
.name:not(:last-child){
    margin-right: 30px;
}

.comands h3{
    margin-bottom: 10px;
}
.comands h2{
    margin-bottom: 50px;
}
.teams{
    background-color: var(--color-white);
    text-align: center;
    padding: 30px 0;
}
.teams p{
    margin: 0;
    margin-bottom: 16px;
}
.social{
    justify-content: center;
}
.social li:not(:last-child){
    margin-right: 10px;
}

.social a{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: tomato; */
    align-items: center;
    justify-content: center;
}
.social a:hover{
background-color: var(--color_blue)
}
.social a{
    fill: var(--color_grey);
}
.social a:hover{
    fill: var(--color-white);
}
                                                   /* CLIENT */
.client{
    padding: 94px 0;
    text-align: center;
}
.client h2{
    margin-bottom: 50px;
}
.client ul{
    display: flex;
}
.client li{
    
    border: 1px solid #AFB1B8;
border-radius: 4px;
}
.client li:hover,
.client li:focus{
    border: 1px solid var(--color_blue)
}
.client li:not(:last-child){
    margin-right: 30px;
}
.client a{
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
}
.client a{
    fill: #AFB1B8;
}
.client a:hover{
    fill: var(--color_blue)
}
                                                    /* FOOTER */
footer .logo{
    display: block;
    margin-bottom: 20px;
}
.address li:not(:last-child){
    margin-bottom: 9px;
}
footer{
    padding: 60px 0;
}
footer .container{
    display: flex;
    align-items: baseline
}
.call ul{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}
.call b{
    display: block;
    margin-bottom: 20px;
    color: var(--color-white);
}
.call a{
    background: rgba(255, 255, 255, 0.1);
}
.call svg{
    fill: var(--color-white)
}
.brand{
    margin-right: 70px;
}
                                                   /* PORTFOLIO*/

.check p{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
margin: 0;
}
.check h3{
    margin-bottom: 4px;
}
.check{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.check li:not(:last-child){
    margin-right: 8px;
}
.check button{
    background-color: var(--background_white);
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
}
.check button:hover,
.check button:focus{
    color: var(--color-white);
    background-color:var(--color_blue);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.options h3{
font-weight: 700;
font-size: 18px;
line-height: 2;
}
.options p{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
margin: 0;
}
.portfolio{
    padding: 94px 0;
    border-top: 1px solid #EEEEEE;;
}
.options{
    display: flex;
    flex-wrap: wrap;
}
.options li:not(:nth-child(3n)){
    margin-right: 30px;
}
.options li:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.options div{
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}